<ng2-smart-table [settings]="settings" [source]="source" (edit)="edit($event)" (rowSelect)="rowSelect($event)" (userRowSelect)="userRowSelect($event)" (deleteConfirm)="deleteConfirm($event)" (editConfirm)="editConfirm($event)"></ng2-smart-table>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-8">
        <strong>Total Results: {{totalResults}}</strong> &nbsp; &nbsp; &nbsp;
          Results per page:
           <select name="perPage" (ngModelChange)="perPageChange($event)" [(ngModel)]="perPage">
             <option>5</option>
             <option>10</option>
             <option>25</option>
             <option>50</option>
             <option>100</option>
           </select>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <button class="btn btn-primary pull-right" (click)="export()">Export</button>
  </div>
</div>
