<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-dark sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link home" routerLink="/dashboard" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
    </li>
    <hr class="split">
    <li class="nav-item">
      <a class="nav-link" routerLink="/modules" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-line-chart" aria-hidden="true"></i>Modules</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/find" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-building"></i>Find A Club</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/help" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-newspaper-o"></i>Help</a>
    </li>
    
  </ul>
</nav>
