<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-dark sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link home" routerLink="/dashboard" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
    </li>
    <hr class="split">
    <li class="nav-item">
      <a class="nav-link" routerLink="/link1" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-line-chart" aria-hidden="true"></i>Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/link2" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-building"></i>Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/link3" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-newspaper-o"></i>Link 3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/link4" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-gear"></i>Link 4</a>
    </li>
  </ul>
</nav>
