.split {
  border-bottom: 1px solid white;
  width: 100%;
  text-align: center;
}

.home {
  font-size: 18px;
  font-weight: bold;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
}

.sidebar .nav-link {
  width: 200%;
  border-radius: 0;
  color: white;
  margin-left: -10%;
}

.fa {
  margin-right: 4%;
}
